@{
    ViewData["Title"] = "Home Page";
}
@model List<Gonderi>

@if (Context.Request.Query["Sonuc"] == "Eklendi")
{
    <div class="alert alert-success">
        Gönderi başarıyla oluşturuldu.
    </div>
}

<div class="gonderiler mt-2">
    <div class="d-flex  mb-3">
  <a class="btn btn-success ms-auto" asp-controller="Gonderiler" asp-action="Yeni"> + Yeni Gönderi Ekle</a>
</div>
@foreach(Gonderi gonderi in Model)
{
    <div class="mb-4">
        <h4>@gonderi.Baslik</h4>
       <img src ="~/img/upload/@gonderi.ResimYolu" alt="@gonderi.Id" class="w-100" />
    </div>
}
</div>
